In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import sympy as sp

# 0. Datos de entrada en formato de texto o csv.

In [2]:
data = pd.read_csv("table.csv")
data

,T,P,vf,vg,uf,ufg,ug,hf,hfg,hg,sf,sfg,sg
0,0.01,0.6117,0.001000,206.000000,0.000,2374.9,2374.9,0.001,2500.9,2500.9,0.0000,9.1556,9.1556
1,5.00,0.8725,0.001000,147.030000,21.019,2360.8,2381.8,21.020,2489.1,2510.1,0.0763,8.9487,9.0249
2,10.00,1.2281,0.001000,106.320000,42.020,2346.6,2388.7,42.022,2477.2,2519.2,0.1511,8.7488,8.8999
3,15.00,1.7057,0.001001,77.885000,62.980,2332.5,2395.5,62.982,2465.4,2528.3,0.2245,8.5559,8.7803
4,20.00,2.3392,0.001002,57.762000,83.913,2318.4,2402.3,83.915,2453.5,2537.4,0.2965,8.3696,8.6661
...,...,...,...,...,...,...,...,...,...,...,...,...,...
71,355.00,17570.0000,0.001808,0.007872,1682.200,706.4,2388.6,1714.000,812.9,2526.9,3.8442,1.2942,5.1384
72,360.00,18666.0000,0.001895,0.006950,1726.200,625.7,2351.9,1761.500,720.1,2481.6,3.9165,1.1373,5.0537
73,365.00,19822.0000,0.002015,0.006009,1777.200,526.4,2303.6,1817.200,605.5,2422.7,4.0004,0.9489,4.9493
74,370.00,21044.0000,0.002217,0.004953,1844.500,385.6,2230.1,1891.200,443.1,2334.3,4.1119,0.6890,4.8009
75,373.95,22064.0000,0.003106,0.003106,2015.700,0.0,2015.7,2084.300,0.0,2084.3,4.4070,0.0000,4.4070

# 1. A manera de ejemplo, tomaremos 3 puntos y hallaremos el polinomio de Lagrange asociado a dichos puntos (P vs T). Así mismo hallaremos el polinomio asociado por sympy. +10 puntos.

In [3]:
x = sp.Symbol("x")
x_data = data["T"][:3].values
y_data = data["P"][:3].values

In [4]:
poly = sp.polys.polyfuncs.interpolating_poly(3,x,X=x_data,Y=y_data).simplify()
print("Polinomio 3 primeros puntos P vs T: ",poly)

Polinomio 3 primeros puntos P vs T:  0.00188743452871709*x**2 + 0.0428084820692436*x + 0.611271726435855

# 2. Tabla Interpolación de P vs T, utilizando valores intermedios de temperatura. Para esto generalice el programa del punto 1. +15

# 3. Tabla Interpolación de sg vs T.+5

# 4. Tabla Interpolación de sf vs T.+5

In [5]:
def interpolation_table(x_var,y_var,dx=1e-2):
    x = sp.Symbol("x")
    x_table = []
    y_table = []
    i = 0
    while i < len(data)-1:
        j = 3 if i+3 < len(data) else 2
        x_data = data[x_var][i:i+j].values
        y_data = data[y_var][i:i+j].values
        poly = sp.polys.polyfuncs.interpolating_poly(j,x,X=x_data,Y=y_data)
        f = sp.lambdify(x,poly)
        x_table.append(np.arange(min(x_data),max(x_data),dx))
        y_table.append(f(x_table[-1]))
        
        i+=j-1
    
    x_table = np.concatenate(x_table)
    y_table = np.concatenate(y_table)
    return np.array([x_table,y_table]).T

In [6]:
for var in ["P","sg","sf"]:
    table = interpolation_table("T",var)
    np.savetxt(f"{var}vsT.dat",table,fmt='%.10f')
    print(f"guardada tabla interpolación {var}vsT.dat")

guardada tabla interpolación PvsT.dat
guardada tabla interpolación sgvsT.dat
guardada tabla interpolación sfvsT.dat

# 5. Gráficas en formato png. Los ejes deben aparecer debidamente identificados y el tamaño de las etiquetas debe ser visible. +10

In [7]:
for var in ["P","sg","sf"]:
    table = np.loadtxt(f"{var}vsT.dat")
    plt.figure(dpi=150)
    plt.plot(*table.T,label="interpolation")
    plt.scatter(data["T"],data[var],s=10,c='k',label="data")
    plt.ylabel(var,fontsize=15)
    plt.xlabel("T",fontsize=15)
    plt.legend()
    plt.tight_layout()
    plt.savefig(f"{var}vsT.png")
    plt.close()
    print(f"guardado {var}vsT.png")

guardado PvsT.png
guardado sgvsT.png
guardado sfvsT.png

# 6. Análisis de resultados y conclusiones. +5

Se hicieron tablas de interpolación polinomial de orden 3 para tres varaibles (P, sg, sf) con respecto a la temperatura, obteniendo una gráfica suave.

Los polinomios de Lagrange fueron obtenidos con sympy, y luego evaluados en puntos intermedios con una resolución de temperatura de 1e-2.

Todo este trabajo se hubiera podido hacer mucho más fácilmente con scipy.interpolate.interp1d